:root {
  /*--mainGreen: #89B0AE;
  --lightGreen: #BEE3DB;*/
  --mainWhite: #FFFFFF;
  /*--mainDark: #555B6E;
  --mainPeach: #FFD6BA;*/
}

/*body {
  font-family: "Domine", serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}*/