:root {
  --pureWhite: #FFFFFF;
  --mainDark: #15202B;
  --transparentAccent: #F45E22;
  /*--mainGreen: #89B0AE;
  --lightGreen: #BEE3DB;*/
  --mainWhite: #FFFFFF;
  /*--mainDark: #555B6E;
  --mainPeach: #FFD6BA;*/
}

/*body {
  font-family: "Domine", serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}*/